@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar {
  overflow-y: auto;
}

/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
  width: 7px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #3e248b; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.scrollbar::-webkit-scrollbar-track {
  background: #020617; /*스크롤바 뒷 배경 색상*/
}

.button {
  box-sizing: border-box;
  background: linear-gradient(90deg, #b46ef3, #877ee9, #b46ef3);
  background-size: 300% auto;
  text-align: center;
  text-transform: uppercase;
  animation: gradientMove 5s infinite ease-in-out;
}

@keyframes gradientMove {
  0% {
    background-position: 300% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sideBar {
  animation: sideBar 0.3s ease-in-out;
}
@keyframes sideBar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Chrome, Safari, Opera 등 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* IE, Edge */
.no-scrollbar {
  -ms-overflow-style: none;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #ec4899; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
